@import '../theme/theme';

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 600px;
  min-width: 400px;
  min-height: 300px;
  padding: 0.5rem 2rem 1.2rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  .label {
    width: 100%;
    margin: 1.6rem 1.2rem 1.2rem 1.2rem;
    color: $text-secondary;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 0.8rem;
    padding-bottom: 0.34rem;
    border-bottom: calc(0.3px + 0.02em) solid #e5e5e5;
    .span {
      font-weight: 400;
      color: $secondary;
    }
  }
  #iconButton {
    align-self: flex-start;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color:transparent;
  }
}

#input {
  margin: 0.6rem 0 0.3rem 0;
}


.field {
  color: $text-secondary;
  font-size: 1.1rem;
  margin: 0;
  padding: 1.1rem;
  text-align: left;
}
