@import '../theme/theme';

#back {
  position: absolute;
  margin: 0.4rem;
  background-color: $secondary;
  color: $light;
  border: 0;
  left: 2%;
  top: 10%;
}

.parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.2rem;
  padding: 0.22rem;
  align-items: center;
  justify-content: center;
  .header {
    width: 50vw;
    margin: 0.65rem 0 1rem 0;
    .title {
      text-align: center;
      margin: 0.4rem;
      color: $bg-d;
      font-size: 1.8rem;
      padding-bottom: 0.34rem;
      .span {
        font-weight: bold;
        color: $secondary;
      }
    }
    .currentStep {
      text-align: justify;
      margin: 0.4rem;
      color: $text-secondary;
      font-size: 1.15rem;
      .span {
        font-weight: bold;
        color: $secondary;
      }
    }
    .subtitle {
      text-align: center;
      margin: 0.4rem 0 0.8rem 0;
      color: $text-secondary;
      font-size: 1.2rem;
    }
  }
  .section {
    margin: 0;
    color: $bg-d;
    width: 50%;
    text-align: left;
    font-size: 1.3rem;
    padding: 0 0 0.3rem 0;
    border-bottom: calc(0.3px + 0.02em) solid #e5e5e5;
  }
  #grid {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.99rem;
    flex-wrap: wrap;
    #image {
      height: 200px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 7px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
      margin: 0.25rem 0.3rem 0.25rem 0.3rem;
      padding: 1rem;
      background-color: $bg-d;
      transition: transform .3s;
      .img {
        border: 0;
        padding: 0.5rem;
      }
    }
    #image:hover {
      cursor: pointer;
      border: 2px solid $secondary;
      transform: scale(1.02);
    }
    .form {
      display: flex;
      flex-direction: row;
      flex: 1;
      width: 100%;
      padding: 1.44rem 1.88rem 0.42rem 1.88rem;
      margin: 0;
      border: 1px solid $border-color;
      border-radius: 7px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      #formSelect {
        padding: 0;
        margin: 0.75rem 0 1rem 0;
        #selectionTitle {
          font-size: 1rem;
          width: 100%;
          text-align: center;
          padding-bottom: 0.52rem;
          margin-bottom: 0.33rem;
          border-bottom: 1px solid $bg-m;
        }
        #selectionControl {
          padding-top: 0.77rem;
          display: flex;
          justify-content: space-between;
          #select {
            #selection {
              padding-top: 1rem;
            }
          }
        }
      }
      .formDiv {
        padding: 0;
        align-items: center;
        margin: 0.75rem 0 1rem 0;
        #label {
          padding: 0.2rem;
          font-size: 1rem;
        }
        #controls {
          text-align: center;
          #input {
            width: 220px;
            margin: 0.2rem 0 0.2rem 0;
          }
        }
        #submit {
          width: 100%;
          max-width: 450px;
          border-radius: 5px;
          background-color: $secondary;
          margin: 1rem 0 1.2rem 0;
          padding: 0.4rem;
          color: $white;
        }
      }
    }
  }
}